* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board, .labeled-board-rank, .labeled-board-file, .square, .promotion-menu {
  --board-width: min(90vh, 90vw);
  --board-rank-width: calc(var(--board-width) / 16);
}

.square {
  border: 1px solid black;
  font-size: calc(var(--board-width) / 11.5);
  cursor: pointer;
  user-select: none;
}

.square.--selected {
  background: yellow !important;
}
.square.--possible {
  background: lightgreen !important;
}

.board {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0;
  gap: 0;
  width: calc(var(--board-width));
  height: calc(var(--board-width));
  border: 1px solid black;
}

.board .square.--dark {
  --dark-square-color: gray;
  background: var(--dark-square-color);
}
.board .square.--white {
  --light-square-color: white;
  background: var(--light-square-color);
}

.labeled-board-rank {
  float: left;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  width: var(--board-rank-width);
  height: calc(var(--board-width));
  margin-left: var(--board-rank-width);
  border: 1px solid transparent;
  grid-row: 1 / -1;
}
.labeled-board-rank__label {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: calc(var(--board-rank-width) / 2);
  /* border: 1px solid black; */
}

.labeled-board-file {
  display: grid;
  grid-template-columns: 1fr repeat(8, 1fr);
  width: calc(var(--board-width) + var(--board-width) / 8);
  height: var(--board-file-width);
  grid-column: 2 / -1;
  /* border: 1px solid transparent; */
  /* padding-left: calc(var(--board-rank-width) / 8); */
  direction: rtl;
}
.labeled-board-file__label {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(var(--board-rank-width) / 2);
  border: 1px solid transparent;
  /* grid-column-end: -1; */
}
/* .labeled-board-file__label:first {
  grid-column: 2;
} */

.promotion-menu {
  position: absolute;
  z-index: 10;
  width: var(--board-width);
  height: var(--board-width);
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  /* grid-auto-flow: column;   */
  top: 0;
  left: 0;
  z-index: 5; 
  pointer-events: none;
  border: 1px solid black;
}
.promotion-menu .square {
  pointer-events: auto;
  background: lightgray !important;
}